/* *{
  text-align: center;
} */
h1{
  text-align: center;
}
form{
  text-align: center;
}
li{
  display: flex;
  justify-content: space-between;
}
.btn{
  display: flex;
  justify-content: center;
  gap: 5px;
}